{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <h2 class="page-title">ABOUT</h2>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="desc"> I am a second year Computer Science Student who loves to learn something new.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/salsa.png' %}" class="rounded-circle">
            </div>
            <div class="col-md-4">
                <div id="profile">
                    <p class="profile-title">PROFILE</p>
                    <p>Name:</p>
                    <p class="indent">Salsabila Adnan</p>
                    <p>Date of Birth:</p>
                    <p class="indent">Jakarta, 11th January 2000</p>
                    <p>Gender:</p>
                    <p class="indent">Female</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}