{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" type ="text/css" href=styles.css>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-static-top navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home:index' %}">Salsabila Adnan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'home:index' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'home:about' %}">About</a>
                <a class="nav-item nav-link" href="{% url 'home:education' %}">Education</a>
                <a class="nav-item nav-link" href="{% url 'home:skills' %}">Skills</a>
                <a class="nav-item nav-link" href="{% url 'home:experiences' %}">Experiences</a>
                <a class="nav-item nav-link" href="{% url 'home:contact' %}">Contact</a>
                <a class="nav-item nav-link" href="{% url 'home:schedule' %}">Schedule</a>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>