{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Education</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    
    <h2 class="page-title">EDUCATION</h2>

    <div class="container">
        <div class="page">
        <div class="timeline">
            <div class="timeline__group">
                <span class="timeline__year">2018-Now</span>
                <div class="timeline__post">
                    <div class="timeline__content">
                        <p>Universitas Indonesia</p>
                    </div>
                </div>
            </div>
            <div class="timeline__group">
                <span class="timeline__year">2015-2018</span>
                <div class="timeline__post">
                    <div class="timeline__content">
                        <p>SMA Negeri 1 Depok</p>
                    </div>
                </div>
            <div class="timeline__group">
                <span class="timeline__year">2012-2015</span>
                <div class="timeline__post">
                    <div class="timeline__content">
                        <p>SMP Negeri 2 Depok</p>
                    </div>
                </div>
            </div>
            <div class="timeline__group">
                <span class="timeline__year">2006-2012</span>
                <div class="timeline__post">
                    <div class="timeline__content">
                        <p>SD Yaspen Tugu Ibu 1 Depok</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}