{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    
    <h2 class="page-title">Schedule</h2>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <td>
               <table>
                <tr><td>{{ field.label }}</td></tr>
                <tr><td>{{ field }}</td></tr>
               </table>
              </td>
            {% endfor %}
            <br>
            <button type="submit">Add Schedule</button>
        </form>
    </div>


    
</body>
</html>
{% endblock %}