<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Salsabila Adnan</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <center>
        <h1 id="hello">HELLO,<br> I'M SALSA</h1>
        <div class="container">
            <div class="row">
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:about' %}">ABOUT</a>
                </div>
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:education' %}">EDUCATION</a>
                </div>
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:skills' %}">SKILLS</a>
                </div>
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:experiences' %}">EXPERIENCES</a>
                </div>
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:contact' %}">CONTACT</a>
                </div>
                <div class="col-md">
                   <a id="menu-home" href="{% url 'home:schedule' %}">SCHEDULE</a>
                </div>
            </div>
        </div>
    </center>    
        
</body>
</html>