{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Skills</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    
    <h2 class="page-title">SKILLS</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="skillName">Microsoft Office</p>
                <img class="logo" src="{% static 'images/office.png' %}">
                <div class="skills ms"></div>                
            </div>
            <div class="col-md-4">
                <p class="skillName">Python</p>
                <img class="logo" src="{% static 'images/python.png' %}">
                <div class="skills python"></div>
            </div>
            <div class="col-md-4">
                <p class="skillName">Java</p>
                <img class="logo" src="{% static 'images/java.png' %}">
                <div class="skills java"></div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}