body {
	background-color: #fce77d;
	font-family: STXihei;
}

/*HOME*/

/*Hello*/
#hello{
	color: #f96167;
	font-size:8vw;
  margin-top: 8%;
}	

ul{
	list-style-type: none;	/*remove bullet in list*/
}

li{
	display:inline;
}

#menu-home{
	color: #4B878B;
	text-decoration: none;	/*remove the underline*/
	font-size: 3vw;
	padding: 1.5%;
}

/*About Page*/
.rounded-circle{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
 	border-style: solid;
 	border-color: #f96167;
}

.container{
	color: #4B878B;
}

.page-title{
	font-size: 300%;
}

.col-md-4{
	font-size: 180%;
}

.page-title{
	color: #4B878B;
	text-align: center;
}

.desc{
	text-align: center;
}

.profile-title{
	text-align: center;
}

.indent{
	text-indent: 7%;
}

/*education*/

.page{
  margin-top: -8%;
}

.timeline{
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 100%;
}

.timeline:before{
  	content: "";
  	width: 4px;
  	height: 100%;
  	background-color: #4B878B;
  	position: absolute;
}

.timeline__group{
  	position: relative;
}

.timeline__group:not(:first-of-type){
  margin-top: 4rem;
}

.timeline__year{
  	padding: 0.5rem 1.5rem;
  	color: white;
  	background-color: #4B878B;
  	position: absolute;
  	top: 0;
}

.timeline__post{
	padding: 1.5rem 2rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	background-color: #f96167;
	color: white;
}

@media screen and (min-width: 641px){

  .timeline:before{
    left: 30px;
  }

  .timeline__group{
    padding-top: 55px;
  }

  .timeline__box{
    padding-left: 80px;
  }

  .timeline__box:before{
    top: 50%;
    transform: translateY(-50%);  
  }  
}

@media screen and (max-width: 640px){

  .timeline:before{
    left: 0;
  }

  .timeline__group{
    padding-top: 40px;
  }

  .timeline__box{
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline__box:before{
    top: 90px;
  }
}


.page{
  max-width: 50%;
  padding: 5rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
}

.skills {
  padding-top: 5%;
}

.ms {width: 90%; background-color: #f96167;}
.python {width: 80%; background-color: #f96167;}
.java {width: 70%; background-color: #f96167;}

.skillName{
	padding-top: 10%;
}

.logo{
  padding-bottom: 5%;
}

.icon-email{
  padding-top: 5%;
  padding-left: 5%;
}

